@import 'reset.css';

@font-face {
  font-family: "felix titling";
  src: url("../fonts/felix titling.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  }
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica.otf") format('opentype');
  font-style: normal;
  font-weight: normal;
}

@property --angle {
  syntax: 'angle';
  initial-value: 0deg;
  inherits: false;
}

@property --sin {
  syntax: 'number';
  initial-value: 0;
  inherits: false;
}

@property --cos {
  syntax: 'number';
  initial-value: 1;
  inherits: false;
}

  body {
    max-width: 1680px;
    width: 100%;
    background: #000000;
    position: relative;
    height: 3690px;
  }
  html {
    background: #bbb;
    position: relative;
    height: 100%;
  }
  h1, h2, h5, h6{
    color: #ffffff;
    letter-spacing: 1px;
    margin: 0 0;
  }
  h1, h2 {font-family: "felix titling";}
  h6, h5 {font-family: 'helvetica';}
  h1{font-size: min(150px, calc(150 * (100vw - 320px) / 1360 + 36 * (1680px - 100vw) / 1360));}
  h2{font-size: min(72px,   calc(72 * (100vw - 320px) / 1360 + 14 * (1680px - 100vw) / 1360));}
  h5{font-size: min(44px,   calc(44 * (100vw - 320px) / 1360 + 10 * (1680px - 100vw) / 1360));}
  h6{font-size: min(36px,   calc(36 * (100vw - 320px) / 1360 + 12 * (1680px - 100vw) / 1360));}

                                                                      /* логотип Октопуса */
.logo{
  max-width: 712px;
  width: 100%;
  padding-bottom: 4%;
  position: absolute;
  top: min(100px, calc(100 * (100vw - 320px) / 1360 + 20 * (1680px - 100vw) / 1360));
  left: 7.74%;
  z-index: 2;


}
                                                                  /* первый див с Октопусом (принадлежит к телу и пушинкам) */
.block1{
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}
.firstoctopus{
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.octopus1{
    top: calc((100% * (-70)) / 1260);
    left: calc((100% * 388) / 1680);
    width:  calc((100% * 1300) / 1680);
    height:  calc((100% * 1234) / 1260);
    position: absolute;
    transform: rotate(45deg);
}
                                                                        /*здесь начинаются пушинки*/
.fluf{
  position: absolute;
  height:  calc((100% * 76) / 1260);
  width: calc((100% * 76) / 1680);
  animation: hue 4s infinite linear;
}
/*
.fluf:hover{  animation-play-state: paused;} */

.f1 {top: calc((100% * 80) / 1260);   left: calc((100% * 1000) / 1680);}
.f2 {top: calc((100% * 268) / 1260);  left: calc((100% * 986) / 1680);}
.f3 {top: calc((100% * 420) / 1260);  left: calc((100% * 824) / 1680);}
.f4 {top: calc((100% * 334) / 1260);  left: calc((100% * 1148) / 1680);}
.f5 {top: calc((100% * 580) / 1260);  left: calc((100% * 900) / 1680);}
.f6 {top: calc((100% * 894) / 1260);  left: calc((100% * 586) / 1680);}
.f7 {top: calc((100% * 780) / 1260);  left: calc((100% * 464) / 1680);}
.f8 {top: calc((100% * 578) / 1260);  left: calc((100% * 680) / 1680);}
.f9 {top: calc((100% * 436) / 1260);  left: calc((100% * 536) / 1680);}
.f10{top: calc((100% * 594) / 1260);  left: calc((100% * 382) / 1680);}
.f11{top: calc((100% * 410) / 1260);  left: calc((100% * 206) / 1680);}
.f12{top: calc((100% * 360) / 1260);  left: calc((100% * 1398) / 1680);}
.f13{top: calc((100% * 566) / 1260);  left: calc((100% * 1186) / 1680);}
.f14{top: calc((100% * 946) / 1260);  left: calc((100% * 1186) / 1680);}
.f15{top: calc((100% * 566) / 1260);  left: calc((100% * 1374) / 1680);}
.f16{top: calc((100% * 768) / 1260);  left: calc((100% * 1572) / 1680);}
.f17{top: calc((100% * 546) / 1260);  left: calc((100% * 1536) / 1680);}
                                                                             /*блок с бегущими строками*/
.row {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 12.5%;
}

.row_after, .row_before {
    content: "";
    position: absolute;
    width: 300%;
    height: 100%;
    animation: row_move 30s linear infinite;
}

.row_before {
    right: 100%;
}
.reverse {
  animation: row_move 30s linear infinite reverse;
  }
.colbasa{
  height: 100%;
}

                                                                              /* центральный блок с текстом */
.text-center{
  position: relative;
  width: 100%;
  margin: 78px 140px;
  line-height: 64px;
}
.text-center h6{  margin-top: 114px;}
                                                                          /* блок с причёсками*/
.best-haircuts{
  position: relative;
  text-align: center;
  margin-top: 100px;
}

.boom{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 580px;
  width: 500px;
  text-align: center;
  margin: 100px 20px 20px 20px;
  background: #1233f3;
  opacity: .3;
}
.boom1{
  height: 100%;
  width: 100%;
  display: block;
  position:relative;
  background: url('../images/boom1.png');
  overflow: hidden;
  animation: boom 3s steps(1) infinite;
  animation-play-state: paused;
}
.boom1:hover{  animation-play-state: running;}

                                                            /* второй октопус */
.block2{
  position: relative;
  width: 100%;
  padding-bottom: 37%;
  /* background-color: #ffffff;
  opacity: .2; */
}

.octopus2{
  position: absolute;

}
.f{
  height:  calc((100% * 45) / 620);
  width: calc((100% * 45) / 1680);
}
.oc1{
  height:  calc((100% * 61) / 620);
  width: calc((100% * 230) / 1680);
}
.oc2{
  height:  calc((100% * 53) / 620);
  width: calc((100% * 97) / 1680);
}
.oc3{
  height:  calc((100% * 25) / 620);
  width: calc((100% * 60) / 1680);
}
.oc4{
  height:  calc((100% * 50) / 620);
  width: calc((100% * 331) / 1680);
}
.oc5{
  height:  calc((100% * 25) / 620);
  width: calc((100% * 146) / 1680);
}
.oc6{
  height:  calc((100% * 43) / 620);
  width: calc((100% * 123) / 1680);
}
.f18{
  transform: rotate(var(--angle));
  top: calc((100% *  508) / 620); left: calc((100% *  330)  / 1680);
  transform-origin: calc(100% + min(100vw, 1680px) / 1680 * 230) bottom;
  animation: leg1 2s infinite, hue 4s infinite linear;
}
.f19{
    top: calc((100% *  508) / 620); left: calc((100% *  52)  / 1680);
    transform: translateX(calc(min(100vw, 1680px) / 1680 * 300 * (1 - var(--cos)))) translateY(calc(min(100vw, 1680px) / 1680 * (0 - 260) * var(--sin)));
    animation: leg1 2s infinite, hue 4s infinite linear;
}
.f20{
    top: calc((100% *  366) / 620); left: calc((100% *  52)  / 1680);
    transform: translateX(calc(min(100vw, 1680px) / 1680 * 300 * (1 - var(--cos)))) translateY(calc(min(100vw, 1680px) / 1680 * (0 - 260) * var(--sin)));
    animation: leg1 2s infinite, hue 4s infinite linear;
}
.f21{top: calc((100% *  176) / 620); left: calc((100% *  596) / 1680);}
.f22{top: calc((100% *  176) / 620); left: calc((100% *  452) / 1680);}
.f23{top: calc((100% *  366) / 620); left: calc((100% *  452) / 1680);}
.f24{top: calc((100% *  366) / 620); left: calc((100% *  316) / 1680);}
.f25{top: calc((100% *  176) / 620); left: calc((100% *  316) / 1680);}
.f26{top: calc((100% *  176) / 620); left: calc((100% *  150) / 1680);}
.f27{
  animation: f27 2s infinite, hue 4s infinite linear;
  z-index: 1;
}
.f28{top: calc((100% *  348) / 620); left: calc((100% *  786) / 1680);}
.f29{top: calc((100% *  158) / 620); left: calc((100% *  786) / 1680);}
.f30{top: calc((100% *  158) / 620); left: calc((100% *  878) / 1680);}
.f31{top: calc((100% *  -12) / 620); left: calc((100% *  878) / 1680);}
.f32{top: calc((100% *  474) / 620); left: calc((100% *  954) / 1680);}
.f33{top: calc((100% *  266) / 620); left: calc((100% *  1030) / 1680);}
.f34{top: calc((100% *  266) / 620); left: calc((100% *  1170) / 1680);}
.f35{top: calc((100% *  94)  / 620); left: calc((100% *  1170) / 1680);}
.f36{top: calc((100% *  94)  / 620); left: calc((100% *  1446) / 1680);}
.f37{top: calc((100% *  406) / 620); left: calc((100% *  1202) / 1680);}
.f38{top: calc((100% *  308) / 620); left: calc((100% *  1308) / 1680);}
.f39{top: calc((100% *  308) / 620); left: calc((100% *  1580) / 1680);}


.head {
  top: calc((100% *  520) / 620); left: calc((100% *  588) / 1680);
  height:  calc((100% * 96) / 620);
  width: calc((100% * 552) / 1680);
}
.leg1 {
  transform: rotate(var(--angle));
  top: calc((100% *  482) / 620); left: calc((100% *  374) / 1680);
  transform-origin: right bottom;
    animation: leg1 2s infinite;
}
.leg2 {
  top: calc((100% *  520) / 620);
  left: calc((100% *  98)  / 1680);
  transform: rotate(180deg) translateX(calc(min(100vw, 1680px) / 1680 * (0 - 300) * (1 - var(--cos)))) translateY(calc(min(100vw, 1680px) / 1680 * 260 * var(--sin)));
  animation: leg1 2s infinite;
}
.leg3 {
    top: calc((100% *  432) / 620); left: calc((100% *  40)  / 1680);
    transform:  rotate(90deg) translateY(calc(min(100vw, 1680px) / 1680 * (0 - 300) * (1 - var(--cos)))) translateX(calc(min(100vw, 1680px) / 1680 * (0 - 260) * var(--sin)));
    animation: leg1 2s infinite;
}
.leg4 {
    top: calc((100% *  324) / 620); left: calc((100% *  40)  / 1680); transform: rotate(90deg);
    transform:  rotate(90deg) translateY(calc(min(100vw, 1680px) / 1680 * (0 - 300) * (1 - var(--cos)))) translateX(calc(min(100vw, 1680px) / 1680 * (0 - 260) * var(--sin)));
    animation: leg1 2s infinite;
  }
.leg5 {top: calc((100% *  360) / 620); left: calc((100% *  440) / 1680); transform: rotate(-90deg);}
.leg6 {top: calc((100% *  156) / 620); left: calc((100% *  498) / 1680);}
.leg7 {top: calc((100% *  280) / 620); left: calc((100% *  402) / 1680); transform: rotate(90deg);}
.leg8 {top: calc((100% *  350) / 620); left: calc((100% *  358) / 1680);}
.leg9 {top: calc((100% *  280) / 620); left: calc((100% *  266) / 1680); transform: rotate(90deg);}
.leg10{top: calc((100% *  184) / 620); left: calc((100% *  194) / 1680); transform: rotate(180deg);}
.leg11{top: calc((100% *  130) / 620); left: calc((100% *  142) / 1680); transform: rotate(90deg) scaleY(-1);}
.leg12{
  /* transform-origin: right center; */
    animation: leg12 2s infinite;
}
.leg13{
    animation: leg13 2s infinite;
}
.leg14{top: calc((100% *  452) / 620); left: calc((100% *  736) / 1680); transform: rotate(90deg);}
.leg15{top: calc((100% *  260) / 620); left: calc((100% *  736) / 1680); transform: rotate(90deg);}
.leg16{top: calc((100% *  166) / 620); left: calc((100% *  726) / 1680); transform: scaleY(-1);}
.leg17{top: calc((100% *  342) / 620); left: calc((100% *  748) / 1680); transform: rotate(90deg);}
.leg18{top: calc((100% *  72)  / 620); left: calc((100% *  848) / 1680); transform: rotate(90deg);}
.leg19{top: calc((100% *  0)   / 620); left: calc((100% *  926) / 1680); transform: rotate(180deg);}
.leg20{
  top: calc((100% *  432) / 620);
  animation: leg20 3s infinite;
}
.leg21{top: calc((100% *  396) / 620); left: calc((100% *  954) / 1680); transform: rotate(90deg);}
.leg22{top: calc((100% *  248) / 620); left: calc((100% *  1072) / 1680);}
.leg23{top: calc((100% *  180) / 620); left: calc((100% *  1140) / 1680); transform: rotate(90deg);}
.leg24{top: calc((100% *  66)  / 620); left: calc((100% *  1214) / 1680);}
.leg25{top: calc((100% *  48)  / 620); left: calc((100% *  1438) / 1680); transform: rotate(90deg);}
.leg26{top: calc((100% *  486) / 620); left: calc((100% *  1082) / 1680); transform: rotate(-45deg);}
.leg27{top: calc((100% *  362) / 620); left: calc((100% *  1238) / 1680); transform: rotate(135deg);}
.leg28{top: calc((100% *  280) / 620); left: calc((100% *  1352) / 1680);}
.leg29{top: calc((100% *  268) / 620); left: calc((100% *  1572) / 1680); transform: rotate(90deg);}

                                /*анимация*/

                                /* щупальца 1 */
/* @keyframes leg1 {
  0%   {transform: rotate(-20deg);}
  50%  {transform: rotate(45deg);}
  100% {transform: rotate(-20deg);}
} */
@keyframes leg1 {
  0%   {--angle: 0deg; --sin: 0; --cos: 1;}
  10%   {--angle: 10deg; --sin: 0.1736; --cos: 0.9876;}
  20%   {--angle: 20deg; --sin: 0.3420; --cos: 0.9397;}
  30%  {--angle: 30deg; --sin: 0.454; --cos: 0.891 }
  40%  {--angle: 20deg; --sin: 0.3420; --cos: 0.9397;}
  50% {--angle: 10deg; --sin: 0.1736; --cos: 0.9876;}
  60%  {--angle: 0deg; --sin: 0; --cos: 1}
  70%  {--angle: -10deg; --sin: -0.1736; --cos: 0.9876;}
  80%  {--angle: -20deg; --sin: -0.3420; --cos: 0.9397;}
  90%   {--angle: -10deg; --sin: -0.1736; --cos: 0.9876;}
  100% {--angle: 0deg; --sin: 0; --cos: 1;}
}
/* @keyframes f18 {
  0%   {transform: rotate(-20deg);}
  50%  {transform: rotate(45deg);}
  100% {transform: rotate(-20deg);}
} */


                                /* щупальца 3 */
@keyframes leg12 {
  0%   {transform: rotate(-135deg); left: calc((100% *  640) / 1680);  top: calc((100% *  470) / 620);}
  50%  {transform: rotate(-90deg);  left: calc((100% *  670) / 1680);  top: calc((100% *  448) / 620);}
  100% {transform: rotate(-135deg); left: calc((100% *  640) / 1680);  top: calc((100% *  470) / 620);}
}
@keyframes f27 {
  0%   { top: calc((100% *  400) / 620); left: calc((100% *  630) / 1680);}
  50%  {top: calc((100% *  366) / 620); left: calc((100% *  716) / 1680);}
  100% {  top: calc((100% *  400) / 620); left: calc((100% *  630) / 1680);}
}
@keyframes leg13 {
  0%   {transform: rotate(90deg) scaleY(-1); left: calc((100% *  620) / 1680);  top: calc((100% *  356) / 620);}
  50%  {transform: rotate(0deg) scaleY(-1); top: calc((100% *  376) / 620); left: calc((100% *  656) / 1680);}
  100% {transform: rotate(90deg) scaleY(-1); left: calc((100% *  620) / 1680);  top: calc((100% *  356) / 620);}
}

                                /* щупальца 6 */
@keyframes leg20 {
0%   {transform: rotate(90deg); left: calc((100% *  946) / 1680);  top: calc((100% *  432) / 620);}
50%  {transform: rotate(135deg);left: calc((100% *  980) / 1680);  top: calc((100% *  450) / 620);}
100% {transform: rotate(90deg); left: calc((100% *  946) / 1680);  top: calc((100% *  432) / 620);}
}





@keyframes row_move {
    from {transform: translateX(100%);}
    to   {transform: translateX(  0%);}
  }
@keyframes hue {
    /* green */
    0%    {filter: brightness(50%) sepia(1) hue-rotate(38deg)  saturate(295%)  brightness(110%);}
    33%   {filter: brightness(50%) sepia(1) hue-rotate(38deg)  saturate(295%)  brightness(110%);}
    /* yelow */
    33.3% {filter: brightness(50%) sepia(1) hue-rotate(0.5deg) saturate(384%)  brightness(120%);}
    66.3% {filter: brightness(50%) sepia(1) hue-rotate(0.5deg) saturate(384%)  brightness(120%);}
    /* pink */
    66.6% {filter: brightness(50%) sepia(1) hue-rotate(302deg) saturate(1100%) brightness(100%);}
    100%  {filter: brightness(50%) sepia(1) hue-rotate(302deg) saturate(1100%) brightness(100%);}
  }
  @keyframes boom {
    0%    {background-position:  0px     -0px;}
    4.3%  {background-position: -500px   -0px;}
    8.6%  {background-position: -1000px  -0px;}
    12.9% {background-position: -1500px  -0px;}
    16.2% {background-position: -2000px  -0px;}
    20.5% {background-position: -2500px  -0px;}
    24.8% {background-position: -3000px  -0px;}
    29.1% {background-position: -3500px  -0px;}
    33.4% {background-position: -4000px  -0px;}
    37.7% {background-position: -4500px  -0px;}
    42%   {background-position: -4000px  -0px;}
    46.3% {background-position: -5500px  -0px;}
    50.6% {background-position: -6000px  -0px;}
    54.9% {background-position: -6500px  -0px;}
    59.2% {background-position: -7000px  -0px;}
    63.5% {background-position: -7500px  -0px;}
    67.8% {background-position: -8000px  -0px;}
    72.1% {background-position: -8500px  -0px;}
    76.4% {background-position: -9000px  -0px;}
    80.7% {background-position: -9500px  -0px;}
    85%   {background-position: -10000px -0px;}
    89.3% {background-position: -10500px -0px;}
    93.6% {background-position: -20000px -0px;}

  }
