@import 'reset.css';

@font-face {
  font-family: "felix titling";
  src: url("../fonts/felix titling.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  }
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica.otf") format('opentype');
  font-style: normal;
  font-weight: normal;
}
  body {
    max-width: 1680px;
    width: 100%;
    background: #000000;
    position: relative;
    height: 3690px;
  }
  html {
    background: #bbb;
    position: relative;
    height: 100%;
  }
  h1, h2, h5, h6{
    color: #ffffff;
    letter-spacing: 1px;
    margin: 0 0;
  }
  h1, h2 {font-family: "felix titling";}
  h6, h5 {font-family: 'helvetica';}
  h1{font-size: min(150px, calc(150 * (100vw - 320px) / 1360 + 48 * (1680px - 100vw) / 1360));}
  h2{font-size: min(72px,   calc(72 * (100vw - 320px) / 1360 + 14 * (1680px - 100vw) / 1360));}
  h5{font-size: min(44px,   calc(44 * (100vw - 320px) / 1360 + 13 * (1680px - 100vw) / 1360));}
  h6{font-size: min(36px,   calc(36 * (100vw - 320px) / 1360 + 12 * (1680px - 100vw) / 1360));}

                                                                      /* логотип Октопуса */
.logo{
  max-width: 712px;
  width: 100%;
  padding-bottom: 4%;
  position: absolute;
  top: 100px;
  left: 130px;
  z-index: 2;


}
                                                                  /* первый див с Октопусом (принадлежит к телу и пушинкам) */
.block1{
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}
.firstoctopus{
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.octopus1{
    top: calc((100% * (-70)) / 1260);
    left: calc((100% * 388) / 1680);
    width:  calc((100% * 1300) / 1680);
    height:  calc((100% * 1234) / 1260);
    position: absolute;
    transform: rotate(45deg);
}
                                                                        /*здесь начинаются пушинки*/
.fluf{
  position: absolute;
  height:  calc((100% * 76) / 1260);
  width: calc((100% * 76) / 1680);
  animation: hue 4s infinite linear;
}

.fluf:hover{  animation-play-state: paused;}

.f1 {top: calc((100% * 80) / 1260);   left: calc((100% * 1000) / 1680);}
.f2 {top: calc((100% * 268) / 1260);  left: calc((100% * 986) / 1680);}
.f3 {top: calc((100% * 420) / 1260);  left: calc((100% * 824) / 1680);}
.f4 {top: calc((100% * 334) / 1260);  left: calc((100% * 1148) / 1680);}
.f5 {top: calc((100% * 580) / 1260);  left: calc((100% * 900) / 1680);}
.f6 {top: calc((100% * 894) / 1260);  left: calc((100% * 586) / 1680);}
.f7 {top: calc((100% * 780) / 1260);  left: calc((100% * 464) / 1680);}
.f8 {top: calc((100% * 578) / 1260);  left: calc((100% * 680) / 1680);}
.f9 {top: calc((100% * 436) / 1260);  left: calc((100% * 536) / 1680);}
.f10{top: calc((100% * 594) / 1260);  left: calc((100% * 382) / 1680);}
.f11{top: calc((100% * 410) / 1260);  left: calc((100% * 206) / 1680);}
.f12{top: calc((100% * 360) / 1260);  left: calc((100% * 1398) / 1680);}
.f13{top: calc((100% * 566) / 1260);  left: calc((100% * 1186) / 1680);}
.f14{top: calc((100% * 946) / 1260);  left: calc((100% * 1186) / 1680);}
.f15{top: calc((100% * 566) / 1260);  left: calc((100% * 1374) / 1680);}
.f16{top: calc((100% * 768) / 1260);  left: calc((100% * 1572) / 1680);}
.f17{top: calc((100% * 546) / 1260);  left: calc((100% * 1536) / 1680);}
                                                                             /*блок с бегущими строками*/
.row {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 12.5%;
}

.row_after, .row_before {
    content: "";
    position: absolute;
    width: 300%;
    height: 100%;
    animation: move 30s linear infinite;
}

.row_before {
    right: 100%;
}
.reverse {
  animation: move 30s linear infinite reverse;
  }
.colbasa{
  height: 100%;
}

                                                                              /* центральный блок с текстом */
.text-center{
  position: relative;
  width: 100%;
  margin: 78px 140px;
  line-height: 64px;
}
.text-center h6{  margin-top: 114px;}
                                                                          /* блок с причёсками*/
.best-haircuts{
  position: relative;
  text-align: center;
  margin-top: 100px;
}

.boom{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 580px;
  width: 500px;
  text-align: center;
  margin: 100px 20px;
  /* background: #1233f3;
  opacity: .3; */
}
.boom1{
  height: 100%;
  width: 100%;
  display: block;
  position:relative;
  background: url('../images/boom1.png');
  overflow: hidden;
  animation: boom 3s steps(1) infinite;
  animation-play-state: paused;
}
.boom1:hover{  animation-play-state: running;}

                                                            /* второй октопус */
.f{
  height:  calc((100% * 45) / 1260);
  width: calc((100% * 45) / 1680);
}
.f18{top: 3480px; left: 328px;}
.f19{top: 3480px; left: 52px;}
.f20{top: 3338px; left: 52px;}
.f21{top: 3148px; left: 596px;}
.f22{top: 3148px; left: 452px;}
.f23{top: 3338px; left: 452px;}
.f24{top: 3338px; left: 316px;}
.f25{top: 3148px; left: 316px;}
.f26{top: 3148px; left: 150px;}
.f27{top: 3338px; left: 716px;}
.f28{top: 3320px; left: 786px;}
.f29{top: 3130px; left: 786px;}
.f30{top: 3130px; left: 878px;}
.f31{top: 2960px; left: 878px;}
.f32{top: 3446px; left: 954px;}
.f33{top: 3238px; left: 1030px;}
.f34{top: 3238px; left: 1170px;}
.f35{top: 3066px; left: 1170px;}
.f36{top: 3066px; left: 1446px;}
.f37{top: 3378px; left: 1202px;}
.f38{top: 3280px; left: 1308px;}
.f39{top: 3280px; left: 1580px;}

                                                                          /*анимация*/

@keyframes move {
    from {transform: translateX(100%);}
    to   {transform: translateX(  0%);}
  }
@keyframes hue {
    /* green */
    0%    {filter: brightness(50%) sepia(1) hue-rotate(38deg)  saturate(295%)  brightness(110%);}
    33%   {filter: brightness(50%) sepia(1) hue-rotate(38deg)  saturate(295%)  brightness(110%);}
    /* yelow */
    33.3% {filter: brightness(50%) sepia(1) hue-rotate(0.5deg) saturate(384%)  brightness(120%);}
    66.3% {filter: brightness(50%) sepia(1) hue-rotate(0.5deg) saturate(384%)  brightness(120%);}
    /* pink */
    66.6% {filter: brightness(50%) sepia(1) hue-rotate(302deg) saturate(1100%) brightness(100%);}
    100%  {filter: brightness(50%) sepia(1) hue-rotate(302deg) saturate(1100%) brightness(100%);}
  }
  @keyframes boom {
    0%    {background-position:  0px     -0px;}
    4.3%  {background-position: -500px   -0px;}
    8.6%  {background-position: -1000px  -0px;}
    12.9% {background-position: -1500px  -0px;}
    16.2% {background-position: -2000px  -0px;}
    20.5% {background-position: -2500px  -0px;}
    24.8% {background-position: -3000px  -0px;}
    29.1% {background-position: -3500px  -0px;}
    33.4% {background-position: -4000px  -0px;}
    37.7% {background-position: -4500px  -0px;}
    42%   {background-position: -4000px  -0px;}
    46.3% {background-position: -5500px  -0px;}
    50.6% {background-position: -6000px  -0px;}
    54.9% {background-position: -6500px  -0px;}
    59.2% {background-position: -7000px  -0px;}
    63.5% {background-position: -7500px  -0px;}
    67.8% {background-position: -8000px  -0px;}
    72.1% {background-position: -8500px  -0px;}
    76.4% {background-position: -9000px  -0px;}
    80.7% {background-position: -9500px  -0px;}
    85%   {background-position: -10000px -0px;}
    89.3% {background-position: -10500px -0px;}
    93.6% {background-position: -20000px -0px;}

  }
